<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <style>
        #mapId { height: 900px; }
    </style>
</head>
<body>

<div id="mapId"></div>

<script th:inline = "javascript">

    var mpoints = [[${points}]];
    var mymap = L.map('mapId').setView([50.0, 50.0], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    mpoints.forEach(value => {
        var marker = L.marker([value.lon, value.lat]).addTo(mymap)
            .bindPopup("Country :" + value.country + " Potwierdzone :" + value.confirmed + " Zgony: " + value.deaths + " Ozywiency: " + value.recovered)
    })

</script>

</body>
</html>